@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
body {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99;
  padding: 10px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding: 10px 0;
  background-color: #121212;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nav__main, .nav__bookmark {
  margin-left: 20px;
}

.nav__lang {
  margin-right: 30px;
  font-size: 0.9rem;
}

.nav__city {
  font-weight: 700;
  border: none;
  margin-right: 40px;
  outline: none;
}

.nav__city:focus {
  outline: none;
}

.nav__city:hover {
  cursor: pointer;
}

.nav li a {
  font-weight: 700;
}

.text {
  font-family: "Lato", sans-serif;
  color: #303030;
}

.text_light {
  color: #fff;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #646464;
}

.link_light:hover {
  color: #d1d1d1;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 0;
}

.intro__picture {
  height: 500px;
}

.intro__text {
  width: 35%;
  margin-right: 200px;
}

.intro__text h1 {
  margin: 0;
  font-size: 3rem;
}

.intro__text p {
  margin-top: 15px;
  color: #3d3d3d;
  line-height: 170%;
}

.intro__welcome {
  margin-top: 45px;
}

.intro__buttons {
  margin-top: 60px;
}

.intro__buttons a {
  font-size: 1.1rem;
  font-weight: 700;
}

.intro__buttons a:first-child {
  margin-right: 20px;
}

.btn {
  color: #fff;
  background-color: #0000ff;
  padding: 10px 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
}

.btn.link:hover {
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.btn_change {
  background-color: #303030;
  padding: 10px 20px;
  margin-left: 30px;
}

.main {
  min-height: calc(100vh - 144px);
}

.main h2 {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.7rem;
}

.main_home {
  padding: 50px 0;
  min-height: auto;
}

.main_signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_signin__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_signin__container form {
  -webkit-box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 50px;
  width: 450px;
}

.main_signin__container form label {
  font-weight: 700;
}

.main_signin__container form input {
  margin: 5px 0 20px;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #afafaf;
}

.main_signin__container form button {
  font-size: 1rem;
  border: none;
}

.main_signin__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hide {
  display: none;
}

.signin {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signin textarea {
  margin: 5px 0 20px;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #afafaf;
  height: 150px;
  resize: none;
}

.signin__birthdate-wrapper input {
  height: 21px;
}

.signin__optional {
  font-weight: 400;
  color: #3d3d3d;
}

.signin__ppicture-wrapper {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 325px;
}

.signin__ppicture-wrapper input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.signin__ppicture-wrapper label {
  font-size: 1rem;
}

.signin__last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin__checkbox .signin__remember {
  margin: 0;
}

.signin__checkbox label {
  margin-left: 10px;
  padding-bottom: 2px;
}

.signin__btn {
  background-color: transparent;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  font-weight: 700;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 1rem;
  margin-top: 0;
}

.signin__btn:hover {
  cursor: pointer;
  outline: none;
}

.signin__btn:focus {
  outline: none;
}

.signin__btn_member {
  margin-top: 15px;
  margin-right: 5px;
}

.signin__together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signin__gender-wrapper {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.signin__gender-wrapper select {
  margin: 5px 0 20px;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #afafaf;
}

.rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.room {
  width: 277.5px;
  border: 1px solid #d3d3d3;
  margin-bottom: 30px;
}

.room__text {
  padding: 15px;
}

.room__text h3,
.room__text p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.room__text h3 {
  font-size: 1.3rem;
}

.room__last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.room__address.text {
  margin-top: 5px;
  font-weight: 700;
  font-size: 0.9rem;
  color: #6d6d6d;
}

.room__image {
  height: 277.5px;
  background-size: contain;
  background-position: center;
}

.room__bookmark {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  background-position: center;
  background-image: url("/storage/images/heart.svg");
  border: none;
  background-color: transparent;
}

.room__bookmark:hover {
  background-image: url("/storage/images/heart_hover.svg");
  cursor: pointer;
}

.room__bookmark:active {
  background-image: url("/storage/images/heart_clicked.svg");
  cursor: pointer;
}

.room__bookmark:focus {
  outline: none;
}

.room_show__container {
  padding-top: 20px;
}

.room_show__together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room_show__slider {
  width: 960px;
  height: 500px;
  background-color: #222222;
}

.room_show__address {
  margin: 10px 0;
  font-weight: 700;
  font-size: 0.9rem;
}

.room_show__description {
  margin: 0;
  line-height: 1.4rem;
}

.room_show__room h1 {
  margin: 0;
}

.room_show__sp {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.room_show__profile {
  max-width: 17%;
  text-align: center;
}

.room_show__profile .profile__picture {
  width: 170px;
  height: 170px;
  margin: 0 auto;
}

.room_show__profile .room_show__name {
  margin: 10px 0 5px;
  width: inherit;
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.room_show__profile .profile {
  font-weight: 700;
  font-size: 0.9rem;
}

.profile__container {
  padding-top: 40px;
}

.profile__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.profile__picture {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}

.profile__info {
  width: 60%;
}

.profile__together {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__together h1 {
  margin: 0;
}

.profile__together span,
.profile__together .profile__link,
.profile__together button {
  margin-top: 15px;
  margin-right: 30px;
  font-weight: 700;
  font-size: 0.9rem;
}

.profile__more {
  margin-top: 5px;
  margin-right: 30px;
  font-weight: 700;
  font-size: 0.9rem;
  border: none;
  background-color: transparent;
  padding: 0;
}

.profile__more:hover {
  cursor: pointer;
}

.profile__more:focus {
  outline: none;
}

.profile__bio {
  margin-top: 15px;
  line-height: 1.4rem;
  width: 80%;
}

.profile__bio_hide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  width: 80%;
  display: flex;
}

.profile__room h2 {
  text-align: left;
  margin-bottom: 20px;
}

.profile__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 170px;
}

.profile__promo h2 {
  font-size: 1.9rem;
}

.profile__promo .intro__buttons {
  margin-top: 30px;
}

.profile__promo .intro__buttons a {
  font-size: 1rem;
}

.profile__doesnt {
  padding-top: 30px;
}
/*# sourceMappingURL=index.css.map */